<div class="py-20 min-h-screen bg-gray-200">
  <div class="container mx-auto">
    <div class="relative bg-white p-10 rounded-lg shadow-lg">
      <!-- absolutely positioned label -->
      <div
        class="
          absolute
          top-0
          right-0
          bg-red-500
          text-red-100
          rounded-
          text-xs
          py-1
          px-2
          transform
          translate-x-2
          -translate-y-4
        "
      >Brand New</div>
      <div
        class="
          absolute
          top-0
          left-0
          bg-gradient-to-br
          from-blue-400
          via-red-400
          to-purple-400
          text-red-100
          rounded-full
          h-16
          w-16
          text-transparent
          text-xs
          py-1
          px-2
          transform
          -translate-x-4
          -translate-y-8
        "
      >Brand New</div>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit,
        ab quae? Eos atque repellat libero optio, quidem dolore amet est,
        animi, ad earum obcaecati quasi id praesentium quos esse dicta!</p>
    </div>
    <div>
    </div>
  </div>
</div>
