<div
  class="
    min-h-screen
    flex
    items-center
    justify-center
    bg-gradient-to-br
    from-blue-100
    to-purple-200
  "
>
  <!-- 1. set a class for the gradient 2. set a starting color 3. set a end
  color 4. set a middle color -->
  <h1
    class="
      text-6xl
      font-bold
      bg-gradient-to-br
      from-blue-600
      to-purple-800
      bg-clip-text
      text-transparent
    "
  >Whoa Gradients!</h1>
</div>
