<!-- spacing -->
<div class="p-20 bg-green-700">
  <h2 class="mb-2 text-5xl font-bold text-green-50">Spacing section</h2>
  <p class="mb-6 text-green-100 text-xl">Tailwind helps us space things out with margin and padding</p>

  <button class="mr-3 py-2 px-4 bg-purple-600 text-purple-100 rounded hover:bg-purple-500 transition duration-300">Learn More</button>
  <button class="py-2 px-8 bg-yellow-400 text-yellow-100 rounded hover:bg-yellow-300 transition duration-300 shadow-lg">Sign Up</button>
</div>

<!-- box properties -->
<!-- background, borders, rounding, shadows -->
<div class="p-20 bg-blue-400">
  <h2 class="mb-4 text-4xl text-blue-50">Box properties</h2>
  <div class="p-10 bg-purple-400 rounded-lg border border-purple-500 shadow-2xl text-purple-50 text-center font-bold uppercase tracking-widest">I am a box</div>
</div> 

<!-- sizing & numbering -->
<div class="py-20 px-10 bg-orange-300">
<button class="p-4 bg-orange-400 text-orange-300 rounded w-8">click me</button>
<button class="p-4 bg-orange-400 text-orange-300 rounded w-12">click me</button>
<button class="p-4 bg-orange-400 text-orange-300 rounded w-20">click me</button>
<button class="p-4 bg-orange-400 text-orange-300 rounded w-32">click me</button>
<button class="p-4 bg-orange-400 text-orange-300 rounded w-48 h-48">click me</button>
</div>

<!-- typography -->
<div class="p-20 text-gray-800 text-lg leading-relaxed">
  <h2 class="mb-1 text-5xl text-gray-700 font-bold tracking-wide">Learning Tailwind is Fun!</h2>
  <h3 class="mb-8 text-2xl text-blue-500">More fun than I expected!</h3>
  <p class="mb-8">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis possimus odio earum magni ducimus. Debitis aliquid saepe molestiae tempore dolores inventore accusantium, nulla corrupti nostrum, sequi laboriosam, voluptates suscipit velit.</p>
  <p class="mb-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam iste, corrupti commodi dignissimos assumenda officiis aut. Magni, perspiciatis facilis dicta nesciunt modi consequuntur iusto eos deleniti tempora iure vero id.</p>
  <p class="mb-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum consectetur tempore, debitis quod ab praesentium soluta voluptate error placeat eius. Adipisci delectus omnis rerum fuga nisi dolorem cupiditate quam numquam!</p>
</div>

<!-- colors -->
<div class="p-20 bg-gray-800 space-y-3">
  <div class="p-4 rounded-lg bg-red-100 text-red-800 hover:bg-red-900 hover:text-red-100 transition duration-200 transform hover:translate-x-4 hover:scale-105">i am a box</div>
  <div class="p-4 rounded-lg bg-red-200 text-red-800 animate-pulse">i am a box</div>
  <div class="p-4 rounded-lg bg-red-300 text-red-50">i am a box</div>
  <div class="p-4 rounded-lg bg-red-400 text-red-50">i am a box</div>
  <div class="p-4 rounded-lg bg-red-500 text-red-100">i am a box</div>
  <div class="p-4 rounded-lg bg-red-600 text-red-100 animate-bounce">i am a box</div>
  <div class="p-4 rounded-lg bg-red-700 text-red-200">i am a box</div>
  <div class="p-4 rounded-lg bg-red-800 text-red-200">i am a box</div>
  <div class="p-4 rounded-lg bg-red-900 text-red-200 animate-ping">i am a box</div>
  <div class="p-4 rounded-lg bg-blue-500 text-blue-200 border border-blue-700">i am a box</div>
</div>

<!-- pseudo classes -->
<!-- transitions & transforms -->
<!-- animations -->