<div class="min-h-screen bg-blue-200 p-4 lg:p-20">

<!-- colors as responsive -->
  <h2 class="text-6xl text-black md:text-red-600 lg:text-yellow-600">Mobile First</h2>

  <h2 class="text-3xl md:text-4xl lg:text-6xl">Different Sizes Per Device</h2>

  <!-- stacking vs side by side -->
  <div class="md:flex md:space-x-8">
    <div class="md:w-1/2 p-10 bg-white mt-10">on mobile we stack</div>
    <div class="md:w-1/2 p-10 bg-white mt-10">on desktop, we are side by side</div>
  </div>
</div>